@charset "UTF-8";
:root {
  --gray1: #EFF5F9;
  --gray2: #CCCCCC;
  --gray3: #707070;
  --black: #232323;
  --navy: #073061;
  --eb: 'EB Garamond', serif;
  --sm: 'Shippori Mincho', serif;
}

@media (min-width: 900px) {
    body {
        font-size: 16px;
    }
    main {
        top: -155px;
    }
    .container {
        max-width: 1140px;
        margin: 0 auto;
    }
    .sp-br {
        display: none;
      }
    .pc-br {
        display: block;
    }
    .pc-only {
        display: inline-block;
    }
    /* header------------------------------------ */
    header {
        h1 {
            margin: 46px 0 0 110px;
            }
        .header-right {
            position: relative;
            .buybtn {
                display: block;
                position: absolute;
                top: 44px;
                right: 178px;
                width: 272px;
                line-height: 100px;
                text-align: center;
                background-color: var(--navy);
                color: white;
                z-index: 10;
            }
            .openbtn-wrapper {
                top: 28px;
                right: 33px;
                img {
                    width: 110px;
                }
                .openbtn {
                    top: 36px;
                    right: 41px;
                    width: 94px;
                    height: 94px;
                    span {
                        left: 31px;
                        width: 32px;
                        &:nth-of-type(1) {
                            top:30px;	
                        }
                        &:nth-of-type(2) {
                            top: 44px;	
                        }
                        &:nth-of-type(3) {
                            top:58px;	
                        }
                    }
                    &.active span:nth-of-type(1) {
                        top:38px;
                        left: 32px;
                        transform: translateY(6px) rotate(-45deg);
                        width: 30px;
                      }
                      &.active span:nth-of-type(3) {
                        top: 50px;
                        left: 32px;
                        transform: translateY(-6px) rotate(45deg);
                        width: 30px;
                      }
                }
            }
        }
        nav {
            width: 600px;
            right: 0;
            ul {
                right: 300px;
                left: auto;
                transform: translate(50%,-50%);
            }
            .buy-content {
                width: 600px;
            }
            &.panelactive {
                .g-nav-logo {
                    img {
                      display: none;
                    }
                }
            }
        }
    }
    /* mainvisual------------------------------------------ */
    .mainvisual {
        height: 134vh;
        .mainvisual1 {
            width: 43%;
            height: 71vh;
        }
        .mainvisual2 {
            margin: 0;
            width: 43%;
            height: 69vh;
            position: absolute;
            top: 31vh;
            right: 0;
        }
        p {
            top: 40vh;
            right: 50%;
            font-size: 68px;
            color: var(--navy);
        }
        &::before {
            top: 60vh;
            right: 0;
            width: 68%;
            height: 64vh;
        }
        .scrolldown {
            bottom: auto;
            top: 24vh;
            left: 50vw;
        }
    }
    /* consept--------------------------------------- */
    #concept-top {
        width: 428px;
        top: calc(134vh - 33px);
        left: 17%;
        z-index: 50;
        }
    .concept {
        position: relative;
        padding: 200px 0 70px 0;
        picture {
            img {
                width: 596px;
                margin-bottom: 90px;
            }
        }
        p {
            margin-bottom: 90px;
            line-height: 3.33em;
            font-size: 18px;         
        }
    }
    /* about-------------------------------------------- */
    .about {
        padding: 140px 0 160px 0;
        .section-wrapper {
            max-width: 1140px;
        }
        h2 {
            font-size: 28px;
            img {
                width: 322px;
                margin-bottom: 40px;
            }
        }
        .feature {
            margin-top: 100px;
            width: 100%;
            .feature-numbers {
                position: relative;
                .feature-number {
                    font-size: 52px;
                    position: absolute;
                }
                .feature-line {
                    position: absolute;
                    height: 550px;
                    max-height: none;
                    margin: 0;
                    transform: translate(0,-50%);
                    top: 55px;

                }
            }
            .feature-box {
                display: flex;
                position: relative;
                z-index: 10;
            }
            img {
                margin-bottom: 0;
            }
            .feature-text {
                margin-top: 125px;
                h3 {
                    font-size: 28px;
                    margin-bottom: 70px;
                }
                p {
                    font-size: 16px;
                }
            }
            &:nth-of-type(1) {
                .feature-box {
                  flex-direction: row-reverse;
                  width: auto;
                  max-width: none;
                }
                .feature-line {
                    left: 345px;
                    rotate: -90deg;
                }
                .feature-text {
                    margin-left: 90px;
                    p {
                        margin-right: 50px;
                    }
                }
            }
            &:nth-of-type(3) {
                .feature-box {
                    flex-direction: row-reverse;
                    width: auto;
                    max-width: none;
                }
                .feature-line {
                    left: 345px;
                    rotate: -90deg;
                }
                .feature-text {
                    margin-left: 90px;                      
                    width: 100%;
                    p {
                        margin-right: 50px;
                    }
                }
              }
            &:nth-of-type(2) {
                .feature-numbers {
                    display: flex;
                    flex-direction: row-reverse;
                    .feature-number {
                        right: 0;
                    }
                    .feature-line {
                        position: absolute;
                        right: 345px;
                        height: 550px;
                        max-height: none;
                        margin: 0;
                        rotate: 90deg;
                    }
                }
                .feature-box {
                    justify-content: space-between;
                    margin-right: 90px;
                }
                .feature-text {
                    margin-left: 50px;
                }
              }
        }
    }
    /* how to use----------------------------- */
    .howto {
        padding: 100px 0 160px 0;
        &::before {
            height: 1120px;
        }
    }
}
@media (min-width: 385px) {
    .howto {
        .howto-frame {
            display: block;
        }
    }
}

@media (min-width: 1130px) {
    .howto {
        .howto-frame {
            top: 190px;
            max-width: 1140px;
            height: 876px;
        }
        &::after {
            left: 50%;
            top: 150px;
            width: 876px;
            height: 100px;
        }
        padding: 140px 0 110px 0;
        h2 {
            font-size: 24px;
            span {
                font-size: 99px;
                line-height: 1;
            }
            p {
                margin-top: 14px;
            }
            &::after {
                top: 44px;
                left: calc(50% + 60px);
                border-width: 9px 0 9px 15.6px;
            }
        }
        .howto-wrapper {
            flex-direction: row;
            justify-content: center;
            max-width: 1140px;
        }
        video {
            margin: 70px 0;
        }
        .howto-text {
            margin: 0 0 0 100px;
            font-size: 20px;
            img {
                margin-left: 0px;
            }
            .howto-last {
                font-size: 16px;
                margin-top: 130px;
            }
        }
    }
}
/* scenes----------------------------- */
@media (min-width: 900px) {
    .scenes {
        text-align: left;
        margin: 0 30px;
        h2 {
            margin-bottom: 63px;
            .eb {
                font-size: 60px;
                margin-bottom: 40px;
            }
        }
        .scene-wrapper {
            flex-direction: row;
            justify-content: space-between;
            .scene {
                margin-bottom: 65px;
                width: 30%;
                img {
                    width: 100%;
                }
            }
        }
        picture {
            img {
                width: 100%;
            }
        }
    }
    /* remake---------------------------------- */
    .remake {
        padding: 140px 0;
        background-image: url(img/remake-pc.webp);
        h2 {
            font-size: 24px;
            margin-bottom: 100px;
            .eb {
                font-size: 61px;
            }
        }
        .remake-inform {
            margin-bottom: 120px;
            p {
                text-align: center;
               &:nth-of-type(1) {
                    font-size: 30px;
                    margin-bottom: 40px;
                  }
            }
        }
        .remake-box {
            max-width: 760px;
            margin: 0 auto 140px;
            p {
                padding: 47px 0;
            }
        }
        .remake-btn {
            width: 368px;
            line-height: 96px;
            font-size: 20px;
        }
    }
    .faq {
        padding: 160px 0 140px;
        h2 {
            font-size: 30px;
            margin-bottom: 70px;
        }
    }
    /* sns---------------- */
    .sns {
        padding-bottom: 200px;
        h2 {
            font-size: 38px;
            margin-bottom: 80px;
        }
        img {
            width: 100px;
            margin: 0 50px;
        }
    }
}
/* buy------------------------------------------ */
@media (min-width: 700px) {
    .buy {
        .buy-top {
            line-height: 100px;
        }
        .buy-bottom {
            flex-direction: row;
            a {
                width: 50%;
                height: 377px;
            }
            .rakuten {
                img {
                    width: 260px;
                }
            }
            .amazon {
                img {
                    width: 322px;
                }
            }
        }
    }
}
/* footer--------------------------------- */
@media (min-width: 900px) {
    footer {
        font-size: 14px;
    }
}
@media (min-width: 1000px) {
    footer {
        font-size: 16px;
        .footer-logo {
            top: -110px;
            left: 66px;
            img {
                width: 105px;
            }
        }
        .footer-right {
            right: 66px;
            flex-direction: row-reverse;
            align-items: center;
            .mail-btn {
                width: 339px;
                line-height: 100px;
                margin: 0 0 0 76px;
            }
            .footer-sns {
                a {
                    margin-left: 71px;
                }
            }
        }
    }
}
