@charset "UTF-8";
@font-face {
	font-family: "EBGaramond";
	src: url("font/EBGaramond-Regular.ttf") ;
}
@font-face {
	font-family: "ShipporiMincho";
	src: url("font/ShipporiMincho-Medium.ttf") ;
  font-display: swap;
}
:root {
  --gray1: #EFF5F9;
  --gray2: #CCCCCC;
  --gray3: #707070;
  --black: #232323;
  --navy: #073061;
  --blue: #98A9BE;
  --eb: "EBGaramond", serif;
  --sm: "ShipporiMincho", serif;
}

body {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.1em;
  font-family: "ShipporiMincho", serif;
  font-weight: 500;
  color: var(--black);
  background-color: var(--gray1);
  position: relative;
}
main {
  position: relative;
  top: -126px;
}
section {
  overflow-x: hidden;
}
.section-wrapper {
  max-width: 1140px;
  margin: 0 auto;
}
a {
  display: inline-block;
  transition: all 0.3s;
}
.btn {
  text-align: center;
  color: white;
  &:hover {
    opacity: 0.4;
  }
}
.eb {
  font-family: var(--eb);
  font-weight: 400;
}
.pc-only {
  display: none;
}

/* loading---------------------------- */
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: var(--navy);
  text-align: center;
  color: var(--gray1);
  .loading-anime {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
  }
}
#loading {
  width: 80px;
  path {
    fill-opacity: 0;
    fill: none;
    stroke: var(--gray1);
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 10px;
    transform-origin: center top;
  }
  .done {
    #path1 {
      animation: loadinganime1 1200ms;
      animation-fill-mode: forwards;
    }
    #path2,#path3 {
      animation: loadinganime2 1200ms;
      animation-fill-mode: forwards;
    }
  }
}
@keyframes loadinganime1 {
  100% {
    stroke-width: 15px;
    scale: 0.7;
  }
}
@keyframes loadinganime2 {
  100% {
    transform: translate(0px,-110px);
  }
}


/* header---------------------------- */
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow-x: hidden;
  h1 {
    position: relative;
    margin: 13px;
    z-index: 50;
    img {
      height: 100px;
    }
  }
  .header-right {
    .buybtn {
      display: none;
    }
    .openbtn-wrapper {
      position: fixed;
      z-index: 9999;
      top: 15px;
      right: 20px;
      img {
        width: 80px;
      }
      .openbtn {
        position: fixed;
        top: 20px;
        right: 25px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        cursor: pointer;
        span {
          display: inline-block;
          transition: all .4s;
          position: absolute;
          left: 23px;
          height: 2px;
          border-radius: 2px;
          background-color: var(--black);
          width: 24px;
          &:nth-of-type(1) {
            top:24px;	
          }
          &:nth-of-type(2) {
            top: 34px;	
          }
          &:nth-of-type(3) {
            top:44px;	
          }
        }
        &.active span:nth-of-type(1) {
          top:26px;
          left: 25px;
          transform: translateY(6px) rotate(-45deg);
          width: 20px;
        }
        &.active span:nth-of-type(2) {
          opacity: 0;
        }
        &.active span:nth-of-type(3) {
          top: 38px;
          left: 25px;
          transform: translateY(-6px) rotate(45deg);
          width: 20px;
        }
      }
    }
  }
  nav {
    position: fixed;
    z-index: -1;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    color: white;
    background-color: rgba($color: #232323, $alpha: 0.9);
    transition: all 0.3s;
    .g-nav-logo {
      img {
        display: none;
        position: relative;
        z-index: 9999;
        margin: 13px;
        height: 100px;    
      }
    }
    ul {
      display: none;
      position: fixed;
      z-index: 999;
      top: 48%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 24px;
      li {
        a:hover {
          opacity: 0.4;
        }
      }
    }
    .buy-content {
      display: none;
      position: fixed;
      z-index: 999;
      bottom: 0;
      width: 100%;
    }
    &.panelactive {
      opacity: 1;
      z-index: 999;
      .g-nav-logo {
        img {
          display: block;
        }
      }
      ul {
        display: block;
      }
      .buy-content {
        display: block;
        .buy-top {
          margin-bottom: 10px;
          text-align: center;
        }
        .buy-bottom {
          display: flex;
          height: 80px;
          .rakuten {
            width: 50%;
            position: relative;
            background-color: #BF0000;
            img {
              width: 95px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
            }
          }
          .amazon {
            width: 50%;
            background-color: #333E48;
            position: relative;
            img {
              width: 117px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
            }
          }
        }
      }
    }
  }
}

/* mainvisual---------------------------------------- */
.mainvisual {
  width: 100%;
  height: 969px;
  position: relative;
  z-index: 1;
  .mainvisual1 {
    width: calc(100% - 80px);
    height: 400px;
  }
  .mainvisual2 {
    margin: 80px 0 0 80px;
    width: calc(100% - 80px);
    height: 300px;
  }
  p {
    position: absolute;
    top: 420px;
    right: 43px;
    font-size: 53px;
    color: white;
    letter-spacing: 0.16em;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    line-height: 1;
    .char {
      display: inline-block;
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 307px;
    width: 100%;
    height: 602px;
    background-color: var(--navy);
    z-index: -1;
  }
  .scrolldown{
	position:relative;
  bottom: 380px;
  left: calc(100vw - 50px);
  span{
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: var(--gray1);
    font-size: 0.7rem;
    letter-spacing: 0.05em;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
  }
  &::before {
    content: "";
    position: absolute;
    bottom:0;
    left: -2px;
    width:6px;
    height:5px;
    border-radius: 50%;
    background: var(--gray1);
    animation:
    circlemove 1.6s ease-in-out infinite,
    cirlemovehide 1.6s ease-out infinite;
  }
  &::after{
    content:"";
    position: absolute;
    bottom:0;
    left:0;
    width:2px;
    height: 50px;
    background:#eee;
  }
}
@keyframes circlemove{
      0%{bottom:45px;}
     100%{bottom:-5px;}
 }
@keyframes cirlemovehide{
      0%{opacity:0}
     50%{opacity:1;}
    80%{opacity:0.9;}
	100%{opacity:0;}
 }
}
/* consept--------------------------------------- */
#concept-top {
  width: 257px;
  position: absolute;
  top: 887px;
  left: 20px;
  z-index: 50;
  #concept-base {
    fill: var(--blue);
  }
  #concept-mask {
    fill: none;
    stroke: var(--gray1);
    stroke-width: 26px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform: translate(-10px,-20px);
  }
  }
.concept {
  position: relative;
  text-align: center;
  padding: 120px 0 62px 0;
  picture {
    img {
      width: 212px;
      margin-bottom: 62px;
    }
  }
  p {
    margin-bottom: 58px;
    letter-spacing: 0.2em;
    line-height: 2.86em;
    span {
      display: inline-block;
    }
  }
}

/* about------------------------------------- */
.about {
  padding: 100px 0;
  background-color: var(--gray1);
  color: var(--gray1);
  .section-wrapper {
    max-width: 600px;
  }
  h2 {
    text-align: center;
    font-size: 20px;
    img {
      width: 214px;
    }
  }
  .feature {
    margin-top: 70px;
    position: relative;
    .feature-numbers {
      margin: 0 20px;
      position: absolute;
      .feature-number {
        font-family: var(--eb);
        font-weight: 400;
        font-size: 32px;
      }
      .feature-line {
        content: "";
        width: 1px;
        height: calc(78vw / 294 * 222);
        max-height: 380px;
        background-color: white;
        margin-left: 15px;
        margin-bottom: 30px;
        transform-origin: left top;
      }
    }
    img {
      margin-bottom: 42px;
      width: 78vw;
      max-width: 500px;
      max-height: 380px;
    }
    .feature-text {
      display: inline-block;
      h3 {
        position: relative;
        margin-bottom: 42px;
        overflow: hidden;
        display: inline-block;
        font-size: 20px;
        .rect {
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          display: block;
          background: var(--gray1);
          width: 100%;
          height: 100%;
          transform: translateX(-101%);
        }
        .rect2 {
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          display: block;
          background: var(--gray1);
          width: 100%;
          height: 100%;
          transform: translateX(101%);
        }

      }
    }
    &:nth-of-type(1) {
      .feature-numbers {
        left: 0px;
      }
      .feature-box {
        margin: 0 0 0 auto;
        width: 78vw;
        max-width: 500px;
        text-align: left;
      }
      .feature-text {
        text-align: left;
      }
    }
      &:nth-of-type(3) {
        .feature-numbers {
          left: 0px;
        }
        .feature-box {
          margin: 0 0 0 auto;
          width: 78vw;
          max-width: 500px;
          text-align: left;
        }
        .feature-text {
          text-align: left;
        }
    }
    &:nth-of-type(2) {
      flex-direction: row-reverse;
      .feature-numbers {
        right: 0px;
      }
      .feature-text {
        margin-left: 32px;
      }
    }
  }
}
/* how to use----------------------------------- */
.howto {
  padding: 100px 0;
  text-align: center;
  position: relative;
  .howto-frame {
    position: absolute;
    z-index: -2;
    left: 50%;
    top: 138px;
    transform: translateX(-50%);
    width: 90%;
    height: 1170px;
    border: 2px solid var(--navy);
    transform-origin: center top;
    display: none;
  }
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    width: 330px;
    height: 100px;
    background-color: var(--gray1);
  }
  h2 {
    color: var(--navy);
    position: relative;
    span {
      font-size: 39px;
      margin-bottom: 24px;
      letter-spacing: 0.141em;
    }
    &::after {
      content: "";
      position: absolute;
      top: 36px;
      left: calc(50% + 24px);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 3.5px 0 3.5px 6.1px;
      border-color: transparent transparent transparent var(--navy);
    }
  }
  .howto-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  video {
    width: 332px;
    margin: 50px 0;
    filter: drop-shadow(0px 0px rgba(0,0,0,0));
    outline: none;
    border: none;
  }
  .howto-text {
    font-size: 16px;
    text-align: left;
    margin: 0 auto;
    display: inline-block;
    .howto-text-wrapper {
      display: flex;
      margin: 0 auto;
    }
    img {
      width: 25px;
      object-fit: contain;
      margin-right: 10px;
      margin-left: 30px;
    }
    p {
      text-align: left;
    }
    .howto-last {
      font-size: 14px;
      margin-top: 52px;
    }
  }
}
/* scenes------------------------------------ */
.scenes {
  padding: 30px 0 75px;
  text-align: center;
  h2 {
    margin-bottom: 40px;
    line-height: 1;
    .eb {
      font-size: 40px;
      color: var(--navy);
      margin-bottom: 10px;
    }
  }
  .scene-wrapper {
    display: flex;
    flex-direction: column;
    .scene {
      margin-bottom: 70px;
      img {
        width: 315px;
      }
      h3 {
        font-size: 20px;
        margin: 25px 0 15px;
      }
      p {
        text-align: left;
        display: inline-block;
      }
    }
  }
  picture {
    img {
      width: 340px;
      transform: translateX(12.5px);
    }
  }
  /* remake----------------------------------------- */
}
.remake {
  padding: 100px 10px;
  text-align: center;
  color: white;
  background-image: url(img/remake-sp.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  h2 {
    font-size: 16px;
    margin-bottom: 70px;
    .eb {
      font-size: 40px;
      margin-bottom: 10px;
    }
  }
  .remake-inform {
    display: inline-block;
    margin-bottom: 72px;
    p {
      text-align: left;
      &:nth-of-type(1) {
        font-size: 18px;
        margin-bottom: 30px;
      }
    }
  }
  .remake-box {
    border-top: 1px solid white;
    max-width: 350px;
    margin: 0 auto 70px;
    p {
      text-align: left;
      padding: 25px 0;
      border-bottom: 1px solid white;
    }
  }
  .remake-btn {
    width: 237px;
    line-height: 74px;
    background-color: rgba($color: #fff, $alpha: 0.4);
    border-radius: 50px;
    &:hover {
      background-color: rgba($color: #fff, $alpha: 1.0);
      color: var(--navy);
    }
  }
}
/* faq------------------------------------- */
.faq {
  padding: 100px 0;
  text-align: center;
  h2 {
    font-size: 24px;
    color: var(--navy);
    margin-bottom: 50px;
  }
  ul {
    width: 90%;
    max-width: 721px;
    margin: 0 auto;
    li {
      text-align: left;
      margin: 10px 0;
      section {
        border: 1px solid var(--gray2);
        h3 {
          position: relative;
          cursor: pointer;
          padding: 3% 3% 3% 50px;
          transition: all .5s ease;
          &::before {
            position: absolute;
            content:'';
            width: 15px;
            height: 1px;
            background-color: var(--black);
            top:48%;
            left: 15px;
            display: inline-block;
            transform: rotate(0deg);
            transition: all .5s ease;
          }
          &::after {
            position: absolute;
            content:'';
            width: 15px;
            height: 1px;
            background-color: var(--black);
            top:48%;
            left: 15px;
            display: inline-block;
            transform: rotate(90deg);
            transition: all .5s ease;
          }
          &.close {
            &::before {
              transform: rotate(-45deg);
            }
            &::after {
              transform: rotate(45deg);
            }
          }
        }
        .faq-box {
          display: none;
          background-color: #DCE9F1;
          margin:0 3% 3% 3%;
          padding: 3%;
        }
      }
    }
  }
}
/* sns------------------------------------- */
.sns {
  padding-bottom: 100px;
  text-align: center;
  h2 {
    font-size: 30px;
    margin-bottom: 45px;
  }
  .sns-link {
    display: flex;
    justify-content: center;
  }
  img {
    width: 80px;
    margin: 0 20px;
  }
}
/* buy---------------------------------- */
.buy {
  width: 100%;
  text-align: center;
  .buy-top {
    width: 100%;
    background-color: var(--black);
    color: white;
    line-height: 60px;
  }
  .buy-bottom {
    display: flex;
    flex-direction: column;
    a {
      width: 100%;
      height: 200px;
      position: relative;
      display: block;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
    .rakuten {
      background-color: #BF0000;
      img {
        width: 130px;
      }
    }
    .amazon {
      background-color: #333E48;
      img {
        width: 176px;
      }
    }
  }
}
/* footer------------------------------------- */
footer {
  position: relative;
  bottom: 0;
  padding: 57px 0 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .footer-logo {
    position: absolute;
    top: -119px;
    left: 20px;
    img {
      width: 87px;
    }
  }
  .footer-right {
    position: absolute;
    top: -100px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .mail-btn {
      width: 189px;
      line-height: 67px;
      background-color: var(--navy);
      color: white;
      margin-bottom: 30px;
    }
    .footer-sns {
      color: var(--navy);
      a {
        margin-left: 20px;
        i {
          margin-right: 10px;
        }
      }
    }
  }
}
